.bg-primary {
  background-color: #b2462e;
}


<header>
        <div class="header-content">
            <div class="header-content-inner">
               <!-- <h1 id="homeHeading">Your Favorite Source of Free Bootstrap Themes</h1>
                <hr>
                <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>-->

                    <h1 id="homeHeading"></h1>
                <hr>
                <p  color="black">The Great Rift Valley. Revel in the sheer variety of animal, bird and plant life; the diverse landscapes ranging from grassland plains to rocky outcrops create an ideal habitat for the free roaming Big Five and all the little creatures that contribute to a magical wildlife experience you’ll never forget.</p>


               <!-- <p  color="black"> </br>
              </br>
               </br>
                </br>
                 </br>
                  </br>
                   </br>
                    </br>
                     </br>
                      </br>
                       </br>
                        </br>
                         </br>
                          </br></p>-->



                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>








    <section class="no-padding" id="portfolio">
   

        <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Rift Valley Game Lodge Experiences</h2>
                    <hr class="primary">
                </div>
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        
                        <img src="https://dl.dropboxusercontent.com/s/i2si2rw6vv2qose/1.jpg" class="img-responsive" alt="">
                        </br>
                        <div class="text-center">
                                 GAME DRIVES
                                </div> </br>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Game drives
                                </div>
                                <div class="project-name">
                                    
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="https://dl.dropboxusercontent.com/s/glubmtuvyawfnep/2.jpg" class="img-responsive" alt="">
                        </br>
                        <div class="text-center">
                                 TREE CLIMBING LIONS
                                </div> </br>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Ishasha sector
                                </div>
                                <div class="project-name">
                                    
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="https://dl.dropboxusercontent.com/s/bf875ujkllb2ylx/3.jpg" class="img-responsive" alt="">
                        </br>
                        <div class="text-center">
                                 RELAXING BOAT CRUISE
                                </div> </br>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Relaxing and most enjoyable cruise
                                </div>
                                <div class="project-name">
                                   
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="https://dl.dropboxusercontent.com/s/vf20rev0oaa7hgc/4.jpg" class="img-responsive" alt="">
                        </br>
                        <div class="text-center">
                                 BIRD WATCHING
                                </div> </br>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Bird watching
                                </div>
                                <div class="project-name">
                                    
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                       <img src="https://dl.dropboxusercontent.com/s/x5dt02k3f2pcpk3/5.jpg" class="img-responsive" alt="">
                       </br>
                        <div class="text-center">
                                 GUIDED BUSH SAFARIS
                                </div> </br>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Nature walks
                                </div>
                                <div class="project-name">
                                     
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="https://dl.dropboxusercontent.com/s/qw9517umlbqamce/6.jpg" class="img-responsive" alt="">
                        </br>
                        <div class="text-center">
                                 ALBERTAN LAKES OF GEORGE AND EDWARD
                                </div> </br>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Numerous beautiful crater lakes 
                                </div>
                                <div class="project-name">
                                    
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>